/*
.jumbotron {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;	
}
*/

/*
footer {
	background-color: #63B4D1
}
*/

.jumbotron
{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/books-wp-2.png");
	background-position: center;
	background-size: cover;
	color: white;
}

/*
.jumbotronAdmin
{
	background-position: center;
	background-size: cover;
	background-color: #61F2C2;
	color: white;
}

.jumbotronUser
{
	background-position: center;
	background-size: cover;
	background-color: #30F2F2;
	color: white;
}
*/

.card
{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	color: white;
}

body {
	background-color: #0091ff;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

nav {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background-color: #004FFF;
}

footer {
	background-color: #004FFF;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#coursesContainer {
	padding-bottom: 40px;
}

#profile-jumbo {
	padding: 25px 20px; 
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/profile-bg.jpg");
	background-position: center;
}

#viewCourse-jumbo {
	padding: 25px 20px; 
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/books-wp-2.png");
	background-position: center;
	background-size: cover;
	color: white;
}